---
layout: page
slide_id: 3
---


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 text-justify conference-text">
        <p class="lead">Workshop Day - Call For Papers (
            <a href="assets/DATE2020_Workshop_CFP.pdf">PDF</a>
            <!-- <a href="./CFPs/HotWeb2017-CFP.txt">TXT (NOT READY)</a>,
<a href="./CFPs/HotWeb2017-CFP-brochure.pdf">BROCHURE (NOT READY)</a>-->
            )
        </p>

        <p>ASD2020 is the 2nd international workshop on Autonomous Systems Design. The goal of the workshop is to explore recent industrial and academic methods and methodologies in autonomous systems design. We invite interested contributors to submit papers to the workshop related, but not limited to, the following areas:</p>

        <ul>
            <li>Design for autonomous systems including processes, modeling, optimization, verification, validation, and test.</li>
            <li>Embedded and cyber-physical systems platforms that implement and execute the autonomous system functions including their architectures, hardware, software, and communication.</li>
            <li>Dependable systems design for autonomous systems including, but not limited to, functional safety concepts, fail-operational systems design, functional safety for applications with machine learning, safe and secure changes and updates, autonomous systems security.</li>
        </ul>

        <p>
            To emphasize the workshop character, position papers and problem statements elaborating challenges in the design practice are welcome. We want to specifically introduce an ”Industrial Challenges” session and also ask for problem demos from industry to be presented in ASD. ”Demo Papers” as well as ”Industrial Practice Papers” of 2-4 pages are hence welcome. 
        </p>

        <p>
            <b>Publishing Format </b> All accepted papers will be published in Dagstuhl’s OpenAccess Series in Informatics
            (<a href="https://www.dagstuhl.de/en/publications/oasics">OASIcs</a>), free and open access online
            proceedings. The papers will be referenced in major databases such as DBLP. Submitted papers should not
            exceed 15 pages and should follow the OASIcs formatting instructions.
        </p>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        {% include card-important-dates-workshop.html %}


    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 text-justify conference-text">
        <p class="lead">Initiative Day - Call For Papers (
            <a href="assets/ASD_DATE2020_CFP.pdf">PDF</a>
            <!-- <a href="./CFPs/HotWeb2017-CFP.txt">TXT (NOT READY)</a>,
<a href="./CFPs/HotWeb2017-CFP-brochure.pdf">BROCHURE (NOT READY)</a>-->
            )
        </p>

        <p>ASD 2020 Initiative Day welcomes submissions in all areas of autonomous systems design, including but not limited to:</p>

        <ul>
            <li>embedded and cyber-physical systems platforms that implement and execute the autonomous system functions
                including aspects related to their architectures, hardware, software and communication,</li>
            <li>the design of autonomous systems including processes, modeling, optimization, verification, validation,
                and test,</li>
            <li>all aspects of dependability in autonomous systems design including, but not limited to, functional
                safety concepts, fail-operational systems design, functional safety for applications with machine
                learning, safe and secure adaptions and updates, autonomous systems security,</li>
            <li>case studies of autonomous systems design using innovative architectures, methods and tools.</li>
        </ul>

        <!-- <p>To emphasize the workshop character, position papers and problem statements elaborating challenges in the design practice are welcome.
            All accepted papers will be published in Dagstuhl’s OpenAccess Series in Informatics (<a href="https://www.dagstuhl.de/en/publications/oasics">OASIcs</a>)
            series, free and open
            access online proceedings.</p> -->

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        {% include card-important-dates-initiative.html %}


    </div>
</div>
<!-- {% include sponsors.html %} -->