---
layout: page
slide_id: 3
---


<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-justify conference-text">
        <p class="lead">Call For Papers (
            <a href="assets/ASD_DATE2020_CFP.pdf">PDF</a>
            <!-- <a href="./CFPs/HotWeb2017-CFP.txt">TXT (NOT READY)</a>,
<a href="./CFPs/HotWeb2017-CFP-brochure.pdf">BROCHURE (NOT READY)</a>-->
            )
        </p>

        <p>ASD 2020 welcomes submissions in all areas of autonomous systems design, including but not limited to:</p>

        <ul>
            <li>embedded and cyber-physical systems platforms that implement and execute the autonomous system functions
                including aspects related to their architectures, hardware, software and communication,</li>
            <li>the design of autonomous systems including processes, modeling, optimization, verification, validation,
                and test,</li>
            <li>all aspects of dependability in autonomous systems design including, but not limited to, functional
                safety concepts, fail-operational systems design, functional safety for applications with machine
                learning, safe and secure adaptions and updates, autonomous systems security,</li>
            <li>case studies of autonomous systems design using innovative architectures, methods and tools.</li>
        </ul>

        <!-- <p>To emphasize the workshop character, position papers and problem statements elaborating challenges in the design practice are welcome.
            All accepted papers will be published in Dagstuhl’s OpenAccess Series in Informatics (<a href="https://www.dagstuhl.de/en/publications/oasics">OASIcs</a>)
            series, free and open
            access online proceedings.</p> -->

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        {% include card-important-dates.html %}


    </div>
</div>
<!-- {% include sponsors.html %} -->