--- 
layout: page 
slide_id: 2 
---



    <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-3 mb-xs-2 mb-sm-2">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6  text-justify conference-text">
<p class="lead">Call For Papers (<a href="./CFPs/HotWeb2017-CFP.pdf">PDF (NOT READY)</a>,<a href="./CFPs/HotWeb2017-CFP.txt">TXT
(NOT READY)</a>,<a href="./CFPs/HotWeb2017-CFP-brochure.pdf">BROCHURE (NOT READY)</a>)</p>
<p>DATE Autonomous Systems Design Workshop takes place during the last day of the DATE Conference.
    It aims to explore recent industrial and academic methods and methodologies in autonomous systems design.</p>

<p> The number of intelligent embedded devices continues to multiply rapidly therefore leading to the emergence of
    autonomous systems in order to provide highly efficient, safe and secure functions. Autonomous driving constitutes
    today one of the best examples of this trend.</p>

<p> However, with the increase of the level of automation, systems design becomes very challenging in order to
    accommodate the high complexity, connectivity and heterogeneity of the system while complying with rigorous
    constraints in terms of safety, real-time capabilities and security. </p>

<p>The workshop will explore recent industrial and academic methods and methodologies in autonomous systems design.
    This includes several areas:</p>

<ul>
    <li>Embedded and cyber-physical systems platforms that implement and
        execute the autonomous system functions including their architectures,
        hardware, software and communication</li>
    <li>The design for autonomous systems
        including processes, modeling, optimization, verification, validation, and test</li>
    <li>All aspects of dependable systems design for autonomous systems including,
        but not limited to, functional safety concepts, fail-operational systems design,
        functional safety for applications with machine learning, safe and secure changes
        and updates, autonomous systems security.</li>
</ul>


           

        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 conference-text text-justify">
            <p>Papers describing timely research contributions in ADS' areas of interest are solicited. Papers reporting
                on initial results as well as papers discussing mature research projects or case studies of deployed systems
                are sought out. Submissions describing big ideas that may have significant impact and could lead to interesting
                discussions at the workshop are encouraged. </p>

            <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal.
                Only electronic submissions in PDF will be accepted. Submitted papers must be written in English, must be
                no longer than 6 pages (minimum 10pt font), must render without error using standard PDF viewing tools, must
                print on US-Letter-sized paper, and must conform to the standard ACM Template.</p>

            <p> At least one of the authors of each paper accepted for presentation in ADS 2019 must register for the workshop. <p>
            <p> All papers presented at the workshop will be included in the ACM Digital Library. </p>

            {% include card-important-dates.html %}
            {% include contact-us.html %}

        </div>
    </div>
