---
layout: page
slide_id: 1
---

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="my-text-header"><strong>Workshop Organizers</strong></div>
        {% if site.data.conference.organizers %}
        {% for organizer in site.data.conference.organizers %}
        <p class="my-text"><a href="{{ organizer.homepage }}"><strong>{{ organizer.name }}</strong></a>, {{
            organizer.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %}

        <div class="my-text-header"><strong>Publicity Chair</strong></div>
        {% if site.data.conference.publicity_chair %}
        {% for publicity_chair in site.data.conference.publicity_chair %}
        <p class="my-text"><a href="{{ publicity_chair.homepage }}"><strong>{{ publicity_chair.name }}</strong></a>, {{
            publicity_chair.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %}

        <div class="my-text-header"><strong>Webmaster</strong></div>
        {% if site.data.conference.webmaster %}
        {% for webmaster in site.data.conference.webmaster %}
        <p class="my-text"><a href="{{ webmaster.homepage }}"><strong>{{ webmaster.name }}</strong></a>, {{
            webmaster.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %}

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h5>Thursday Initiative Commitee</h5>
        <div class="my-text-header"><strong>Chair</strong></div>
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>Selma Saidi</strong></a>, Hamburg University of Technology,DE </p>
        <div class="my-text-header"><strong>Co-Chair</strong></div>
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>Marko Bertogna</strong></a>, University of Modena, IT </p>
        <div class="my-text-header"><strong>Steering Committee</strong></div>
         <p class="my-text">To be announced</p>
        <!-- {% if site.data.conference.steering_committees %}
        {% for committee in site.data.conference.steering_committees %}
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a>, {{
            committee.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %} -->

        <div class="my-text-header"><strong>Technical Program Committee</strong></div>
                 <p class="my-text">To be announced</p>
        <!-- {% if site.data.conference.technical_program_committees %}
        {% for committee in site.data.conference.technical_program_committees %}
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a>, {{
    committee.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %} -->

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h5>Friday Initiative Commitee</h5>
            <div class="my-text-header"><strong>Chair</strong></div>
                <p class="my-text"><a href="{{ committee.homepage }}"><strong>Sebastian Steinhorst</strong></a>,
            Technical University of Munich, DE </p>
            <div class="my-text-header"><strong>Co-Chair</strong></div>
            <p class="my-text"><a href="{{ committee.homepage }}"><strong>Jyotirmoy Deshmukh</strong></a>, University of Southern California, USA </p>
        <div class="my-text-header"><strong>Steering Committee</strong></div>
                 <p class="my-text">To be announced</p>
        <!-- {% if site.data.conference.steering_committees %}
        {% for committee in site.data.conference.steering_committees %}
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a>, {{
            committee.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %} -->

        <div class="my-text-header"><strong>Technical Program Committee</strong></div>
         <p class="my-text">To be announced</p>
        <!-- {% if site.data.conference.technical_program_committees %}
        {% for committee in site.data.conference.technical_program_committees %}
        <p class="my-text"><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a>, {{
    committee.org }} </p>
        {% endfor %}
        {% else %}
        {% endif %} -->

    </div>
</div>
</div>