---
layout: page
slide_id: 1
---

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="my-text-header"><strong>Initiative Organizers</strong>
            {% if site.data.conference.organizers %}
            {% for organizer in site.data.conference.organizers %}
            <p class="my-text"><a href="{{ organizer.homepage }}"><strong>{{ organizer.name }}</strong></a>, {{
                organizer.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>
        <!-- <div class="my-text-header"><strong>Industrial Advisory Board</strong>
            {% if site.data.conference.industry_board %}
            {% for member in site.data.conference.industry_board %}
            <p class="my-text"><a href="{{ member.homepage }}"><strong>{{ member.name }}</strong></a>, {{
                        member.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>       -->
        <div class="my-text-header"><strong>Publicity Chair</strong>
            {% if site.data.conference.publicity_chair %}
            {% for publicity_chair in site.data.conference.publicity_chair %}
            <p class="my-text"><a href="{{ publicity_chair.homepage }}"><strong>{{ publicity_chair.name }}</strong></a>, {{
                publicity_chair.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>
        <div class="my-text-header"><strong>Webmaster</strong>
            {% if site.data.conference.webmaster %}
            {% for webmaster in site.data.conference.webmaster %}
            <p class="my-text"><a href="{{ webmaster.homepage }}"><strong>{{ webmaster.name }}</strong></a>, {{
                webmaster.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
        <h5><b>Thursday Special Day Committee</b></h5>
        <div class="my-text-header"><strong>Chairs</strong>
            {% if site.data.conference.day1chairs %}
            {% for chair in site.data.conference.day1chairs %}
            <p class="my-text"><a
                href="{{ chair.homepage }}"><strong>{{ chair.name }}</strong></a>,
                {{chair.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>

        <div class="my-text-header" style="padding-top:1.2em"><strong>Technical Program Committee</strong>
            {% if site.data.conference.day1tpc %}
            {% for member in site.data.conference.day1tpc %}
            <p class="my-text"><a href="{{ member.homepage }}"><strong>{{ member.name }}</strong></a>, {{member.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h5><b>Friday Workshop Day Committee</b></h5>

        <div class="my-text-header"><strong>Chairs</strong>
            {% if site.data.conference.day2chairs %}
            {% for chair in site.data.conference.day2chairs %}
            <p class="my-text"><a href="{{ chair.homepage }}"><strong>{{ chair.name }}</strong></a>,
                {{chair.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>

        <div class="my-text-header"><strong>Technical Program Committee</strong>
            {% if site.data.conference.day2tpc %}
            {% for member in site.data.conference.day2tpc %}
            <p class="my-text"><a href="{{ member.homepage }}"><strong>{{ member.name }}</strong></a>, {{
        member.org }} </p>
            {% endfor %}
            {% else %}
            <p class="my-text">To be announced</p>
            {% endif %}
        </div>
    </div>
</div>
</div>