---
layout: page
slide_id: 7
---
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-justify conference-text">

        <p class="lead">Workshop Day - Submission Instructions</p>

        <p>
            <b>Publishing Format </b> All accepted papers will be published in Dagstuhl’s OpenAccess Series in
            Informatics
            (<a href="https://www.dagstuhl.de/en/publications/oasics">OASIcs</a>), free and open access online
            proceedings. The papers will be referenced in major databases such as DBLP. Submitted papers should not
            exceed 15 pages and should follow the OASIcs formatting instructions.
        </p>

        <p class="text-left">
            <!-- <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> -->
            <strong> Submission Site </strong> : <a href="https://www.softconf.com/date20/ASD20/">
                https://www.softconf.com/date20/ASD20/
            </a>
        </p>

        <p>&nbsp;</p>


<p class="lead">Special Day - Submission Instructions</p>

<p>All manuscripts should be submitted in pdf format not exceeding 6 pages, formatted following <a href="https://www.date-conference.com/submission-instructions">the DATE proceedings submission instructions</a>. </p>

    <p class="text-left">
        <!-- <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> -->
        <strong> Submission Site </strong> : <a href="https://www.softconf.com/date20/ASD_special_day/">
        https://www.softconf.com/date20/ASD_special_day/
        </a>
    </p>

<p>&nbsp;</p>

<p>&nbsp;</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>

{% include sponsors.html %}