---
layout: page
slide_id: 7
---


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-justify conference-text">

<p class="lead">Submission Instructions</p>

    <p>Submitted papers must be neither previously published nor under review by another workshop, conference or journal.</p>

<p><strong>File format</strong>: PDF</p>
<p>Authors of accepted papers must submit the LaTeX source code for their camera-ready papers (this is required by
    OASIcs).</p>

<p><strong>Maximum number of pages</strong>: 15</p>

<p><strong>Single blind review process</strong>: manuscripts can include the author names and affiliations.</p>

<!-- <p><strong>Format</strong>: OASIcs has a specific style of papers format. Submissions must therefore follow <a href="https://www.dagstuhl.de/en/publications/oasics/instructions-for-authors/">the OASIcs formatting instructions. </a> </p> -->
<p><strong>Format</strong>: The papers should follow the format of DATE 2020, explained <a href="https://www.date-conference.com/submission-instructions">here</a>. </p>

    <!-- <p>Only electronic submissions in PDF will be accepted. Submitted papers must be written in English, must be no longer
        than 6 pages in 10-point font, must render without error using standard PDF viewing tools, must print on US-Letter-sized
        paper, and must include the author names and affiliations on the first page.</p> -->

    <!-- <p> Papers should use the <strong class="text-danger">standard ACM Template</strong>, available at
        <a href="http://www.acm.org/sigs/publications/proceedings-templates">
            <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> ACM Article Template
        </a>.
    </p> -->


    <!-- <p>To submit your paper, please follow below link to the submission site:</p> -->

    <p class="text-left">
        <!-- <i class="fa fa-external-link fa-fw" aria-hidden="true"></i> -->
        <strong> Submission Site </strong> : To be Announced
        <!-- <a href="https://www.softconf.com/date19/ASD2019/">
        https://www.softconf.com/date19/ASD2019/
        </a> -->
    </p>



    <!-- <p>Note that at least one of the authors of each paper accepted for presentation in HotWeb 2017 must be registered.
        All papers presented at the workshop will be included in the ACM Digital Library.</p> -->

<p>&nbsp;</p>
        <!-- <div class="text-info">Camera-Ready Instructions: To be Announced</div> -->
        <!-- <p>You will receive the information via your email for camera-ready instructions. -->

            <!-- 
                    The Author's Final Paper Formatting and Submission Instructions can be found at:</p>

                <p style="padding-top: 6px;padding-bottom: 6px;">
                <a class="button"
                    href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Nov&ERoom=HotWeb+2015"><span>Camera-ready
                    Author Kit</span></a></p>

                <p>If you encounter any problem, please contact our editor, Lisa
                    O'Conner, for assistance.</p> 
                    
                    <p>Please note your final camera-ready is due to IEEE by
                    <b>September 25, 2015.</b> 
                -->
<!-- 
        </p> -->

<p>&nbsp;</p>




    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <!--######### important dates ##########-->
        {% include card-important-dates.html %}
        <!--####################################-->
    </div>
</div>

{% include sponsors.html %}