<div class="my-card-header">
    <div class="my-card-header-text text-white">
        <i class="fa fa-calendar-o mr-3" aria-hidden="true"></i><strong>Sponsor</strong>
    </div>
    <div class="card-block bg-faded">
        <strong style="padding-left: 0.5em;">Autonomous Intelligent Driving GmbH</strong>
        <img class="img-fluid mr-auto d-inline-block mb-2 mt-2" src="./assets/images/aid-logo.png" alt="Autonomous Intelligent Driving GmbH">
        <p style="padding-left: 10px; padding-right: 5px;">
            AID-Autonomous Intelligent Driving is bringing together the world’s top software, robotics, AI and
            automotive talents to build a future where autonomous driving is embraced by humans. By understanding the
            human challenges as well as the engineering ones, the technology we are testing today on the streets of
            Munich will become the backbone of a universal self-driving system – capable of improving life in urban
            environments for millions of people. With the agility of a start-up and the support of Audi (VW Group), AID
            is free to craft an autonomous world that works for everyone – from manufacturers to passengers, from city
            planners to pedestrians. For us, the future isn’t about merely making vehicles more autonomous, it’s about
            making people more autonomous.

            To find out more, please visit <a href="https://aid-driving.eu">https://aid-driving.eu</a>
        </p>
    </div>
</div>